.form {
  padding: 20px 30px 0;
  margin: auto;
  background-color: white;
}

.form__component {
  margin-bottom: 15px;
}

.form__component--label {
  display: inline-block;
  width: 20%;
  font-weight: 200;
}

.form__component--input {
  display: inline-block;
  width: 70%;
  border: 1px solid rgb(104, 104, 104);
  padding: 3px 10px;
}

.form__component--check {
  position: absolute;
  cursor: pointer;
  height: 18px;
  width: 18px;
}

.form__submit {
  color: white;
  background: dodgerblue;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  margin: auto;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
}
